* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

div {
    height: calc(100vh / 3);
    border: 1px solid #ccc;
}

.nav {
    background-color: red;
    min-height: 100px;
}


.left {
    background-color: cyan;
}

.right {
    background-color: green;
}

.footer {
    background-color: blue;
}

.jumbotron {
    margin-bottom: 0;
}

.jumbotron-fluid {
    padding: 200px;
    background-image: url("https://images.unsplash.com/photo-1504805572947-34fad45aed93?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1740&q=80");
    background-size: cover;
    background-attachment: fixed;
}

.jumbotron-fluid > .container {
    background-color: white;
    padding: 50px;
}